* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ecf4fb;
  }
  
  .img-gallery {
    width: 80 %;
    margin: 100 px auto 50 px;
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax (250 px, 1 fr));
    grid-gap: 30 px;
  }
  
  .img-gallery img {
    width: 100 %;
    cursor: pointer;
    transition: 1 s ease;
  }
  
  .img-gallery img:hover {
    transform: scale (0.8);
    box-shadow: 0 32 px 75 px rgba (68, 77, 136, 0.2);
  }
  
  /* Wrapper */
  .imageWrapper {
    width: 100 %;
    height: 100 vh;
    background: rgba (0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .imageWrapper img {
    width: 90 %;
    max-width: 500 px;
  }
  
  .imageWrapper span {
    position: absolute;
    top: 5 %;
    right: 5 %;
    font-size: 30 px;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
  }
